@using Microsoft.AspNetCore.Components.Web
@using Tehno.WebSite.Models
@using Tehno.WebSite.Services;
@inject JsonFileTorroService TorroService
    <strong>
        <font style="font-size:16px;">NORMA</font>
        <font style="font-size:16px; color:#00b2b0;">CONNECT® FGR</font>
    </strong>
<div class="card-columns">
    @foreach (var torro in TorroService.GetFGR())
    {
        <div class="card-wider">
            <img src="@torro.img">
            <div class="card-body card-body-higher">
                <h5>
                    <b>@torro.naziv</b>
                    <h5>@torro.din</h5>

                </h5>
                <h5>@torro.materijal</h5>
                <h5>
                    @torro.opis
                </h5>
                @if(Int32.Parse(@torro.id)==1)
                {
                <h5>
                    - za spajanje cijevi plastika-plastika od Φ26,9 do Φ1219,20 mm<br />
                    - za spajanje cijevi plastika-metal od Φ26,9 do Φ1219,20 mm<br />
                    - za spajanje cijevi metal-metal od Φ26 do Φ2032 mm
                </h5>
                }

            </div>

            <div class="card-footer">
                <small class="text-mutted">
                    <a href="@torro.velicinaimg" class="button">
                        <h5><b>Katalog</b></h5>
                    </a>
                </small>
            </div>
        </div>
    }
</div>



@if (selectedTorro != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedTorro.naziv</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-dimension">
                        <div class="card-body-dimension">
                            <img class="new" src="@selectedTorro.velicinaimg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code {
    Torro selectedTorro;
    string selectedTorroId;

    void SelectTorro(string torroId)
    {
        selectedTorroId = torroId;
        selectedTorro = TorroService.GetFGR().First(x => x.id == torroId);
    }
}
