@using Microsoft.AspNetCore.Components.Web
@using Tehno.WebSite.Models
@using Tehno.WebSite.Services;
@inject JsonFileTorroService TorroService

<div>
    <strong>
        <font style="font-size:16px;">NORMA</font>
        <font style="font-size:16px; color:#00b2b0;">FIX® HMK</font>
    </strong>
</div>
<div class="card-columns">
    @foreach (var torro in TorroService.GetHMK())
    {
        <div class="card-wider">
            <img src="@torro.img">
            <div class="card-body">
                <h5>
                    <b>@torro.naziv</b>
                </h5>
                <h5>@torro.izvedba</h5>
                <h5>
                    @torro.opis
                </h5>
                <h5>@torro.din</h5>
            </div>

            <div class="card-footer">
                <a href="katalozi/NORMAFIX HMK.PDF">
                    <h5>
                        <b>Katalog NORMAFIX® HMK</b>
                    </h5>
                </a>
            </div>
        </div>
    }
</div>


